
FPS Tutorial/Assets/Animation/Button/MainMenuButtons.controller
*.controller
*.controller
FPS Tutorial/Assets/Animation/Button/MainMenuButtons.controller
FPS Tutorial/Assets/Animation/Weapons/Anim_M1911_Fire.anim
FPS Tutorial/Assets/Animation/Weapons/Anim_M1911_Reload.anim
FPS Tutorial/Assets/Animation/Weapons/AnimationIdle.anim
FPS Tutorial/Assets/Prefabs/Models/Sci-Fi Automatic.meta
*.meta
FPS Tutorial/Assets/Scenes/Lobby.unity
